@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html {
    scroll-behavior: smooth;
}

:root {
    /* colors */
    --color-primary: #ffa500;
    --color-cta-hover: #a56b00;
    --color-section: #eeeeee;
    --color-shadow: #c7c7c7c7;

    /* fonts */
    --font-title: 'Merienda', cursive;
    --font-primary: 'Montserrat', sans-serif;
}


.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    z-index: 100;
    padding: 0 15px;
}

.logo {
    font-size: 2.5em;
}

.hamburger {
    display: none;
    width: 18px;
    height: 15px;
    position: relative;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.hamburger::after {
    content: "";
    width: 18px;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    background-color: #fff;
}

.mobile-navigation {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
}

.menu > li {
    margin: 0 10px;
}

.menu > li > a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-primary);
}

.logo, a {
    color: #fff;
}

.top {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 10%;
    background-color: #2e2e2e;
    cursor: pointer;
    transition: 0.5s;
}

.top > i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: #00000079;
}

.title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.8em;
    font-family: var(--font-title);
    text-align: center;
}

.background {
    height: 580px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
}

.second-background {
    height: 580px;
    background-image: url(../img/second-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 35%;
}

section#services {
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

.post-service {
    background-color: #ffffff;
    flex-basis: 320px;
    height: 290px;
    margin: 10px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--color-shadow);
    transition: 0.3s;
}

.post-service:hover {
    transform: scale(1.05);
}

.post-service > i {
    font-size: 2em;
    display: block;
    margin-bottom: 15px;
    color: var(--color-primary);
    transition: 0.3s;

}

.title-service {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.description-service {
    font-size: 1.1em;
}

section#contact {
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-primary);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.4s;
}

.cta:hover {
    background-color: var(--color-cta-hover);
}

section#about > .container-about {
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-about {
    margin: 0 30px;
}

.content {
    width: 470px;
    margin: 0 30px;
}

.subtitle {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.description {
    font-size: 1.4em;
}

section {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: var(--color-section);
}

.footer {
    background-color: #1d1d1d;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
}

@media (max-width: 880px) {
    .title {
        font-size: 2em;
    }
}

@media (max-width: 768px) {

    .nav {
        background-color: #1d1d1d;
        position: relative;
    }

    .container-hamburger {
        position: relative;
        background-color: rgba(128, 128, 128, 0.185);
        padding: 10px;
        border-radius: 3px;
    }

    .container-hamburger > .hamburger > i {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        color: #ffffff;
    }

    .container-hamburger > .hamburger.cancel > i {
        display: block;
    }

    .container-hamburger > .hamburger.cancel {
        border: none;
    }

    .container-hamburger > .hamburger.cancel::after {
        content: "";
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-navigation {
        flex: 1 1;
    }

    .menu {
        display: none;
        width: 100%;
    }

    .menu > li {
        padding: 12px;
        margin: 10px 0;
    }

    .menu > li > a {
        color: #fff;
    }

    .menu.mobile {
        display: flex;
        flex-direction: column;
    }

    .background {
        background-position: 10%;
    }

    
}

@media (max-width: 420px) {
    .top {
        width: 40px;
        height: 40px;
        right: 6%;
        bottom: 11%;
    }
}